# ==============================================================================
# Dependencies & Package Managers
# ==============================================================================
node_modules/
.pnp
.pnp.js

.bun/

# ==============================================================================
# Next.js Build & Outputs
# ==============================================================================
.next/
out/
build/
dist/


# ==============================================================================
# Debugging & Performance Logs
# ==============================================================================
*-debug.log*
*-error.log*


# ==============================================================================
# Local Environment Variables
# ==============================================================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example


# ==============================================================================
# Testing & Coverage
# ==============================================================================
coverage/
.nyc_output/
.jest/

# ==============================================================================
# Cypress / Playwright (End-to-End Testing)
# ==============================================================================
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/
